name: Github environment

on:
  workflow_dispatch:

  push: 
    
jobs:
  deployment:
    runs-on: ubuntu-latest

    environment:
      name: Production
      url: https://github.com


    steps:
      - name: 'Print secret from environment'
        run: |
          echo "APP_SECRET: ${{ secrets.APP_SECRET }}"
